* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body .container-cards-and-arrows {
  animation: colors 10s ease infinite;
  background: linear-gradient(45deg, black, #3d0000, #950101);
  display: flex;
  font-size: 16px;
  place-items: center;
  min-height: 90vh;
  width: 100%;
}

.container-cards-and-arrows {
  width: 70vw;
  align-items: center;
  justify-content: center;
  padding: 20px;
  width: 100%;
}

@keyframes colors {

  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

.movie-card-header {
  align-items: center;
  animation: colors 5s ease infinite;
  background: linear-gradient(45deg, #3d0000, #950101);
  display: flex;
  height: 100px;
  justify-content: center;
  padding: 20px;
  width: 100%;
}

.page-title {
  color: white;
  font-size: 28px;
  font-weight: 500;
  text-align: center;
}

.container-cards-and-arrows .movie-list {
  display: flex;
  flex-direction: row;
  overflow-x: auto;
  overflow: hidden;
  scroll-behavior: smooth;
  scroll-snap-type: x mandatory;
  -webkit-overflow-scrolling: touch;
}

.card-container {
  align-items: center;
  animation: colors 5s ease infinite;
  background: #3d0000;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 6px;
  display: flex;
  flex: none;
  flex-direction: column;
  height: 510px;
  margin: 5px;
  scroll-snap-align: start;
  transition: all 0.3s;
  width: 45%; /* determina a quantidade de cards que aparecem */
  /* sendo 25% equivalente a dois cards e 35% equivalente a 3 cards  */
  z-index: 1;
}

.card-container:hover {
  align-items: center;
  animation: colors 3s ease infinite;
  background: #950101;
  background-size: 250% 250%;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 6px;
  box-shadow: 5px 5px 5px #3d0000;
  display: flex;
  flex: none;
  flex-direction: column;
  height: 515px;
  margin: 5px;
  margin-top: -2% -2%;
  overflow: hidden;
  scroll-snap-align: start;
  transition: all 0.3s;
  width: 46%;
  z-index: 2;
}

.movie-card {
  height: 100%;
  object-fit: cover;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;
  z-index: 1;
}

@media screen and (max-width: 685px) {
  .card-container {
    align-items: center;
    animation: colors 5s ease infinite;
    background: #3d0000;
    border: 1px solid rgba(0, 0, 0, 0.125);
    border-radius: 6px;
    display: flex;
    flex: none;
    flex-direction: column;
    height: 414px;
    margin: 5px;
    pointer-events: none; /* desativa qualquer evento feito no card */
    scroll-snap-align: start;
    transition: all 0.3s;
    width: 45%;
    z-index: 1;
  }
}
.movie-card-image {
  width: 100%;
}

.movie-card-body {
  flex: 1 1 auto;
  padding: 20px;
}

.movie-card-title {
  color: #ddd9ce;
  font-size: 24px;
  font-weight: 500;
  margin: 0 0 12px;
}

.movie-card-storyline {
  color: whitesmoke;
  font-size: 90%;
  text-align: justify;
}

.movie-card-details {
  margin: 12px;
  padding: 10px;
  text-decoration: none;
}

.container-cards-and-arrows button {
  text-align: center;
  margin-top: 0;
  z-index: 1;
  background-color: transparent;
  border:none;
  cursor: pointer;
}

.container-cards-and-arrows .scroll-left img {
  transform: rotate(180deg);
}

.movie-card link {
  height: 75%;
  color: black;
  padding: 5px;
}

.body-container {
  animation: colors 10s ease infinite;
  background: linear-gradient(45deg, black, #3d0000, #950101);
  display: flex;
  flex-direction: column;
  justify-self: center;
}

.body-container link {
  justify-content: flex-end;
  text-decoration: none; /* para tirar o sublinhado, mas não está funcionando */
}
